@model CRMSTUBSOFT.Crm_Degres_Sanction

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new card">
            <div class="row no-gutters">
                <div class="col-md-3"><span style="padding-top: 9px; font-size: 16px; " class="content-header-title mb-0 d-inline-block">Création Degres Sanction/Bonification</span></div>
                <div class="col-md-6" style=" padding-top: 8px;">
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Tableau de Bord</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/Crm_Degres_Sanction">Degres Sanction&Bonification</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Création Degres Sanction/Bonification
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>

    <div class="card">
        <div class="card-content">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Infos Générale</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group" style="position: absolute; right: 0; top: 10px">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-info" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row no-gutters mb-4">
                                @Html.LabelFor(model => model.du, htmlAttributes: new { @class = "control-label col-md-12" })

                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.du, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.du, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="form-group row no-gutters mb-4">
                                @Html.LabelFor(model => model.au, htmlAttributes: new { @class = "control-label col-md-12" })

                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.au, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.au, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-3">
                            <div class="form-group row no-gutters mb-4">
                                @Html.LabelFor(model => model.libelle, htmlAttributes: new { @class = "control-label col-md-12" })

                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.libelle, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.libelle, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group row no-gutters mb-4">
                                @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-12" })

                                <div class="col-md-12">
                                   <select class="form-control" name="type" id="type">
                                       <option>Choisir Un Type</option>
                                       <option value="Bonification">Bonification</option>
                                       <option value="Sanction">Sanction</option>
                                   </select>
                                    @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                    }
                </div>
            </div>
        </div>
</div>
