@model CRMSTUBSOFT.Crm_Rapport

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filtre Impression Rapport</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="@Url.Action("ImpressionRapport")" method="post">
                <input type="hidden" name="Format" id="Format" value="PDF" />
                <input type="hidden" name="NumeroRapport" id="NumeroRapport" value="@Model.NumeroRapport" />
                <div class="modal-body">
                    <div class="modal-body">

                        <div class="row">
                            <div class="form-group col-xl-6 col-lg-6 col-md-12">
                                <label>Etat</label>
                                <div class="col-md-10">
                                    @Html.RadioButtonFor(m => m.Status, "tous") <label>Tous</label>
                                    <br />
                                    @Html.RadioButtonFor(m => m.Status, "E11") <label>Non Commencé</label>
                                    <br />
                                    @Html.RadioButtonFor(m => m.Status, "E02") <label>En Cours</label>
                                    <br />
                                    @Html.RadioButtonFor(m => m.Status, "E01") <label>Terminé</label>
                                </div>
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-xl-6 col-lg-6 col-md-12">
                                <label>Durée</label>
                                <div class="col-md-10">
                                    @Html.RadioButtonFor(m => m.Duree, "R") <label>Avec Durér Réelle</label>
                                    <br />
                                    @Html.RadioButtonFor(m => m.Duree, "E") <label>Avec Durér Estimée</label>
                                    <br />
                                    @Html.RadioButtonFor(m => m.Duree, "C") <label>Avec Signature Client</label>
                                </div>
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div class="btn-group float-md-right">
                        <button type="submit" class="btn btn-dark"><i class="la la-print"></i> Imprimer</button>   
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


