@model IEnumerable<CRMSTUBSOFT.Client>

@{
    ViewBag.Title = "Liste des Entreprises";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new card">
            <div class="row no-gutters">
                <div class="col-md-3"><span style="padding-top: 9px; font-size: 16px; " class="content-header-title mb-0 d-inline-block">Liste des Entreprises</span></div>
                <div class="col-md-4" style=" padding-top: 8px;">
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Tableau de Bord</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/Clients">Entreprises</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Liste des Entreprises
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="btn-group float-md-right">
                        <a href="@Url.Action("Create","Clients")" class="btn btn-success"><i class="la la-plus"></i>Ajouter</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Respensable)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.CodeRepresentant)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.RaisonSociale)
                                </th>

                                
                                <th></th>
                            </tr>
                        </thead>


                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Respensable)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.CodeRepresentant)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.RaisonSociale)
                                </td>


                                <td>
                                    @Html.ActionLink(" ", "Edit", new { id = item.CodeClient }, new { @class = "success edit  la la-pencil" }) |
                                    @Html.ActionLink(" ", "Details", new { id = item.CodeClient }, new { @class = "warning details  la la-eye" }) |
                                    @*@Html.ActionLink(" ", "Delete", new { id = item.NumeroTache }, new { @class = "danger delete  la la-trash-o" })*@
                                    <button class="btn p-0" name="delete" id="delete" data-id="@item.CodeClient" onclick="openModaldelete('@item.CodeClient', 'Client N° ')">
                                        <i class="danger delete  la la-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">

                <h1 class="modal-title">Confirmation Suppression</h1>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" name="supprimer" id="supprimer" class="btn btn-danger" style="width:100px">Supprimer</button>
                <button type="button" class="btn btn-info" data-dismiss="modal" style="width:100px">Close</button>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*@if (TempData["SuccessMesage"] != null)
            {
                <script>

          Swal.fire({
          position: 'top-center',
          icon: 'success',
          showConfirmButton: false,
          title: '@TempData["SuccessMesage"]',
          timer: 3000
        })*@
    <!--</script>
    }-->

    @if (TempData["SuppressionMessage"] != null)
    {
        <script>

  Swal.fire({
  position: 'top-center',
  showConfirmButton: false,
  title: '@TempData["SuppressionMessage"]',
  timer: 3000
})

        </script>
    }

    <script>
        function openModaldelete(ID, name) {
            $(".modal-body").html("Voulez vous Supprimez " + name + ID);
            $("#myModal").modal('show');
            $("#supprimer").click(function () {
                window.open("/Utilisateurs/DeleteConfirmed?id=" + ID, "_blank");
                $("#myModal").modal('hide');
            });

        }
    </script>
}