@model IEnumerable<CRMSTUBSOFT.Crm_TacheReclamation>

@{
    ViewBag.Title = "Liste des Tâches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new card">
            <div class="row no-gutters">
                <div class="col-md-2"><span style="padding-top: 9px; font-size: 16px; " class="content-header-title mb-0 d-inline-block">Liste des Tâches</span></div>
                <div class="col-md-4" style=" padding-top: 8px;">
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Tableau de Bord</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/Crm_TacheReclamation">Tâches</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Liste des Tâches
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group float-md-right">
                        <a href="@Url.Action("Create","Crm_TacheReclamation")" class="btn btn-success"><i class="la la-plus"></i>Ajouter</a>

                        <button class="btn btn-primary pull-right" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseExample">
                            <i class="la la-filter"></i>   Filtrer
                        </button>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="card-content collapse" id="collapseFilter">
        <form action="/Crm_TacheReclamation/SearchIndex" method="post">
            @Html.AntiForgeryToken()
            <nav class="header-navbar navbar-expand-sm navbar navbar-with-menu navbar-light navbar-shadow bg-white bg-lighten-5 border-amber border-lighten-4">
                <div class="input-group col-xl-4 col-lg-6 col-md-12 col-xs-6" style="margin-left:10%;">
                    <label class="mb-1 text-bold-700">DU</label>&nbsp; &nbsp;&nbsp;&nbsp;
                    <input type="datetime-local" class="form-control border-success" id="d1" name="d1" value="@ViewData["d1"]" />
                </div>
                <div class="input-group col-xl-4 col-lg-6 col-md-12">
                    <label class="mb-1 text-bold-700">AU</label>&nbsp; &nbsp;&nbsp;&nbsp;
                    <input type="datetime-local" class="form-control border-success" id="d2" name="d2" value="@ViewData["d2"]" />
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <button type="submit" class="btn btn-success">Chercher</button>
                </div>
            </nav>
        </form>
        <br />
        <div class="row" style="justify-content:center">

            <div class="mr-1">
                <button class="btn btn-filter btn-filter-tous btn-md mb-1">
                    <i class="ft-crosshair"> </i>
                    @Html.ActionLink("Tous", "SearchDate", "Crm_TacheReclamation", new { d1 = @ViewData["d1"], d2 = @ViewData["d2"] }, null)

                </button>
            </div>
            <div class="mr-1">
                <button class="btn btn-filter btn-filter-NonPlanifier btn-md mb-1">
                    <i class="ft-clipboard"></i>
                    @Html.ActionLink("Non Planifié", "Search", "Crm_TacheReclamation", new { Status = "E10", d1 = @ViewData["d1"], d2 = @ViewData["d2"] }, null)
                </button>
            </div>
            <div class="mr-1">
                <button class="btn btn-filter btn-filter-NonCommencer btn-md mb-1">
                    <i class="ft-pause"></i>
                    @Html.ActionLink("Non commencé", "Search", "Crm_TacheReclamation", new { Status = "E11", d1 = @ViewData["d1"], d2 = @ViewData["d2"] }, null)
                </button>
            </div>
            <div class="mr-1">
                <button class="btn btn-filter btn-filter-EnExecution btn-md mb-1">
                    <i class="ft-flag"></i>
                    @Html.ActionLink("En Exécution", "Search", "Crm_TacheReclamation", new { Status = "E07", d1 = @ViewData["d1"], d2 = @ViewData["d2"] }, null)
                </button>
            </div>

            <div class="mr-1">
                <button class="btn btn-filter btn-filter-EnPause btn-md mb-1">
                    <i class="ft-pause-circle"></i>
                    @Html.ActionLink("En Pause", "Search", "Crm_TacheReclamation", new { Status = "E06", d1 = @ViewData["d1"], d2 = @ViewData["d2"] }, null)
                </button>
            </div>
            <div class="mr-1">
                <button class="btn btn-filter btn-filter-AValider btn-md mb-1">
                    <i class="ft-edit"></i>
                    @Html.ActionLink("A Valider", "Search", "Crm_TacheReclamation", new { Status = "E04", d1 = @ViewData["d1"], d2 = @ViewData["d2"] }, null)
                </button>
            </div>
            <div class="mr-1">
                <button class="btn btn-filter btn-filter-ATester btn-md mb-1">
                    <i class="ft-loader"></i>
                    @Html.ActionLink("A Tester", "Search", "Crm_TacheReclamation", new { Status = "E03", d1 = @ViewData["d1"], d2 = @ViewData["d2"] }, null)
                </button>
            </div>
            <div class="mr-1">
                <button class="btn btn-filter btn-filter-terminer btn-md mb-1">
                    <i class="ft-check-square"></i>
                    @Html.ActionLink("Terminés", "Search", "Crm_TacheReclamation", new { Status = "E01", d1 = @ViewData["d1"], d2 = @ViewData["d2"] }, null)
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" />
                                </th>
                                <th>
                                    N° Tâche
                                </th>
                                <th>
                                   N° Rapport
                                </th>
                                <th>
                                    Date de Création
                                </th>
                                <th>
                                    Titre
                                </th>

                                <th>
                                    Client
                                </th>
                                @*
                                    <th>
                                        @Html.DisplayNameFor(model => model.NomPlanificateur)
                                    </th>

                                                        <th>
                                                            @Html.DisplayNameFor(model => model.NomValidateur)
                                                        </th
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.NomTesteur)
                                                        </th>
                                *@
                                <th>
                                    Date Prévue
                                </th>
                                <th>
                                    Durée
                                </th>


                                @*<th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>*@
                                @*
                                    <th>
                                        @Html.DisplayNameFor(model => model.EtatValidation)
                                    </th>*@


                                <th>
                                    Utilisateur
                                </th>


                                @*
                                    <th>
                                        @Html.DisplayNameFor(model => model.ValiderPar)
                                    </th>



                                    <th>
                                        @Html.DisplayNameFor(model => model.ConfirmerPar)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.NonConfirmerPar)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateNonConfirmation)
                                    </th>*@

                                @*
                                    <th>
                                        @Html.DisplayNameFor(model => model.DureeReel)
                                    </th>*@
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" id="selectItem" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumeroTache)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumDossier)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateCreation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TacheTitre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RaisonSociale)
                                    </td>
                                    @*
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DescriptionTache)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.NomPlanificateur)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NomValidateur)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NomTesteur)
                                        </td>
                                    *@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DatePrevus)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Duree)
                                    </td>
                                    @*
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                    *@
                                    @*
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EtatValidation)
                                        </td>
                                    *@


                                    <td>
                                        @Html.DisplayFor(modelItem => item.UtilisateurCreateur)
                                    </td>

                                    @*
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ValiderPar)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ConfirmerPar)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.NonConfirmerPar)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateNonConfirmation)
                                        </td>*@


                                    @*<td>
                                            @Html.DisplayFor(modelItem => item.DureeReel)
                                        </td>*@

                                    <td>
                                        @Html.ActionLink(" ", "Edit", new { id = item.NumeroTache }, new { @class = "success edit  la la-pencil" }) |
                                        @Html.ActionLink(" ", "Details", new { id = item.NumeroTache }, new { @class = "warning details  la la-eye" }) |
                                        @*@Html.ActionLink(" ", "Delete", new { id = item.NumeroTache }, new { @class = "danger delete  la la-trash-o" })*@
                                        <button class="btn p-0" name="delete" id="delete" data-id="@item.NumeroTache" onclick="openModaldelete('@item.NumeroTache', 'Tache N° ')">
                                            <i class="danger delete  la la-trash-o"></i>
                                        </button>
                                    </td>
                                </tr>
                            }


                        </tbody>

                    </table>
                </div>

            </div>


        </div>
    </div>
</div>
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">

                <h1 class="modal-title">Confirmation Suppression</h1>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Modal body..
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" name="supprimer" id="supprimer" class="btn btn-danger" style="width:100px">Supprimer</button>
                <button type="button" class="btn btn-info" data-dismiss="modal" style="width:100px">Close</button>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*@if (TempData["SuccessMesage"] != null)
    {
        <script>

  Swal.fire({
  position: 'top-center',
  icon: 'success',
  showConfirmButton: false,
  title: '@TempData["SuccessMesage"]',
  timer: 3000
})*@
        <!--</script>
    }-->

    @if (TempData["SuppressionMessage"] != null)
    {
        <script>

  Swal.fire({
  position: 'top-center',
  showConfirmButton: false,
  title: '@TempData["SuppressionMessage"]',
  timer: 3000
})

        </script>
    }

    <script>
    function openModaldelete(ID, name) {
    $(".modal-body").html("Voulez vous Supprimez " + name + ID);
    $("#myModal").modal('show');
    $("#supprimer").click(function () {
    window.open("/Crm_TacheReclamation/DeleteConfirmed?id=" + ID, "_blank");
        $("#myModal").modal('hide');
    });
        
    }
    </script>
}