@model CRMSTUBSOFT.Crm_ReclamationClient
@using CRMSTUBSOFT.Controllers
@{
    ViewBag.Title = "Consulter Reclamation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .info-tiket {
        padding: 10px;
        border-radius: 5px;
        margin: 5px
    }
    /* Styles for the modal */
    .modal {
        display: none;
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 800px;
    }

    .close {
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }
</style>
<div class="content-wrapper">
    <div class="content-header">
        <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">
                Liste des réclalamtions
            </h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Table de board</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/Home/IndexClient">Réclamations</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Consulter
                        </li>
                    </ol>
                </div>
            </div>
        </div>

    </div>

    <div class="row no-gutters">
        <div class="col-md-4">

            <div class="row">
                <div class="col-md-12">
                    <div class="row info-tiket">
                        <div class="col-md-4"><b>Sujet</b></div>
                        <div class="col-md-8">@Model.Titre</div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row info-tiket">
                        <div class="col-md-6"><b>Numéro</b></div>
                        <div class="col-md-6">@Model.Id_Reclamation</div>
                    </div>

                    <div class="row info-tiket">
                        <div class="col-md-6"><b>Date Ouverture</b></div>
                        <div class="col-md-6">@Model.DateReclamation</div>
                    </div>


                </div>

                <div class="col-md-12">
                    <div class="row info-tiket">
                        <label for="NomContact" class="col-sm-6 col-form-label"> Nom Contact </label>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(model => model.NomContact, (IEnumerable
<SelectListItem>)ViewData["ListeContactClient"], "Sélectionner un contact", new { @class = "selectize-control input-selectize multi", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row info-tiket">
                        <label for="MoyenCommunication" class="col-sm-6 col-form-label"> Moyen Communication </label>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(model => model.CodeMoyenCommunication, (IEnumerable
<SelectListItem>)ViewData["ListeMoyenCommunication"], "Sélectionner une moyen", new { @class = "selectize-control input-selectize multi", @disabled = "disabled" })
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <h4>Liste des Pièce Jointes:</h4>
                    @{
                        List<FileInformation> fileList = ViewData["listPieceJointe"] as List<FileInformation>;
                    }

                    @if (fileList != null && fileList.Count > 0)
                    {
                        <ul>
                            @foreach (var fileInfo in fileList)
                            {
                                
                                if (fileInfo.FileName.Contains(""+Model.OutilCommunication+""))
                                {
                                    <li>
                                        @Html.ActionLink(fileInfo.FileName, "Download", new { filePath = fileInfo.FilePath })
                                    </li>
                                }

                            }
                        </ul>
                    }
                    else
                    {
                        <p>Aucune pièce jointe trouvée.</p>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row no-gutters">
                <div class="col-md-2 info-tiket">
                    <div class="row">
                        <div class="col-md-4"><b>Etat</b></div>
                        <div class="col-md-8">

                            @{

                                switch (Model.Status)
                                {
                                    case "E00":
                                        <b> Annulé </b>
                                        break;
                                    case "E01":
                                        <b class="badge badge-dark"> Terminée </b>
                                        break;
                                    case "E02":
                                        <b> En Cours </b>
                                        break;
                                    case "E03":
                                        <b> A Tester </b>
                                        break;
                                    case "E04":
                                        <b> A Valider </b>
                                        break;
                                    case "E05":
                                        <b class="badge badge-danger"> Non Traitée </b>
                                        break;
                                    case "E06":
                                        <b> En Pause </b>
                                        break;
                                    case "E07":
                                        <b class="badge badge-success"> En Exécution </b>
                                        break;
                                    case "E08":
                                        <b> Planifiée </b>
                                        break;
                                    case "E09":
                                        <b class="badge badge-success"> Affectée </b>
                                        break;
                                    case "E10":
                                        <b> Non Planifiée </b>
                                        break;
                                    case "E11":
                                        <b> Non Commencée </b>
                                        break;
                                    case "E12":
                                        <b> Non Confirmée </b>
                                        break;
                                    case "E13":
                                        <b> Confirmée </b>
                                        break;
                                    case "E14":
                                        <b> Validée </b>
                                        break;
                                    case "E15":
                                        <b> A Corriger </b>
                                        break;
                                    case "E16":
                                        <b> Demande Confirmation </b>
                                        break;
                                    case "E17":
                                        <b class="badge badge-dark"> Traitée </b>
                                        break;


                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="col info-tiket">
                    <div class="row">
                        <div class="col-md-6"><b>Date dernière modification</b></div>
                        <div class="col-md-6">@Model.DatePrisEnCharge</div>
                    </div>

                </div>
                <div class="col info-tiket">
                    <div class="row">
                        <div class="col-md-4"><b>Type de tache</b></div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.Nature, (IEnumerable
<SelectListItem>)ViewData["ListNature"], new { @class = "selectize-control input-selectize multi", @disabled = "disabled", @id = "Nature" })
                        </div>
                    </div>

                </div>


            </div>
            <!--Champ de saisie-->
            <!--FIN Champ de saisie-->
            @{

                if (Model.Status != "E01")
                {
                    <form method="post" action="/Crm_ReclamationClient/ChatReclalamtion">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" name="codeClient" id="codeClient" value="@Model.CodeClient" />
                        <input type="hidden" name="Id_Reclamation" id="Id_Reclamation" value="@Model.Id_Reclamation" />
                        <textarea class="form-control" name="Description" id="Description">

                            </textarea>

                        <div class="row">
                            <div class="col-md-1">
                                <input type="checkbox" name="Status" id="Status" value="E01" />
                            </div>
                            <div class="col-md-4"><b>Cloture de reclamation</b></div>

                        </div>

                        <input type="hidden" name="Createur" id="Createur" value="Admin" />
                        <div class="col-md-12 text-right">
                            <button type="submit" class="btn btn-success">Envoyé</button>
                        </div>


                    </form>
                }
                else
                {
                    <div class="alert alert-info"><i class="ft-info"></i> Réclamation Clôturer</div>
                }
            }

            <hr />


            <!--MESSAGE ENTRE LES INTERLOCUTEUER-->

            @foreach (var item in ViewData["ListChatReclamation"] as List<Crm_ChatReclamation>)
            {

                <div class="alert alert-info pb-4" style="border-color: #ccc !important; background-color: transparent !important ">
                    <p><b>De:</b> @item.Createur</p>
                    <p>

                        <br />
                        <div class="col-sm-12">
                            @Html.Raw(@item.Description)
                        </div>

                    <p>
                        <hr />
                        <div class="pull-right"><b>Date Réception:</b>  @item.DateCreation</div>
                    </p>

                </div>
            }



            <!--FIN MESSAGE ENTRE LES INTERLOCUTEUER-->


            <div class="alert alert-info pb-4" style="border-color: #ccc !important; background-color: transparent !important ">
                <div>
                    <div class="row info-tiket">
                        <label for="MoyenCommunication" class="col-sm-1 col-form-label"> De</label>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(model => model.CodeClient, (IEnumerable
<SelectListItem>)ViewData["ListClient"], "Sélectionner un client", new { @class = "selectize-control input-selectize multi col-sm-4", @id = "CodeClient", @onchange = "FixeClient()", @disabled = "disabled" })

                        </div>
                    </div>
                </div>
                <p>

                    <br />
                    @{
                        if (Model.logo != "")
                        {
                            <div class="col-sm-12">
                                @Html.Raw(@Model.Description)
                                <hr />
                                <!-- Button to open the modal -->
                                <button onclick="openModal()">
                                    Zoom +
                                </button>

                                <!-- The modal -->
                                <div id="myModal" class="modal">
                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <span class="close" onclick="closeModal()">&times;</span>
                                        <img src="~/ReclamationJoint/@Model.logo" id="modalImage" style="width: 100%" />
                                    </div>
                                </div>

                                <img src="~/ReclamationJoint/@Model.logo" alt="" height=200 width=200 />
                            </div>
                        }
                    }
                <p>
                    <hr />
                    <div class="pull-right"><b>Date Réception:</b> @Model.DateReclamation</div>
                </p>

            </div>
        </div>
    </div>



</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        // Open the modal
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        // Close the modal
        function closeModal() {
            document.getElementById("myModal").style.display = "none";
        }

        // Handle image click event to show in modal
        var image = document.getElementById("modalImage");
        image.addEventListener("click", function () {
            openModal();
        });

    </script>

}
