@model IEnumerable<CRMSTUBSOFT.Crm_HistoriqueType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="content-header-left col-md-12 col-12 mb-2 breadcrumb-new card">
            <div class="row no-gutters">
                <div class="col-md-3"><span style="padding-top: 9px; font-size: 16px; " class="content-header-title mb-0 d-inline-block"> Liste des Historique Notes</span></div>
                <div class="col-md-6" style=" padding-top: 8px;">
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Tableau de Bord</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="/Crm_HistoriqueType">Historique Notes</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Liste des Historique Notes
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="btn-group pull-right">
                        <a href="@Url.Action("Create","Crm_HistoriqueType")" class="btn btn-success"><i class="la la-plus"></i>Ajouter</a>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroTache)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypePiece)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdSanction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdDegres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomValidateur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOperation)
                </th>
                <th></th>
            </tr>
        </thead>


        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroTache)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypePiece)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdSanction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDegres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomValidateur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOperation)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </tbody>
    </table>



</div>
